{% extends '_base.html' %}

{% block body %}
<div class="page">
  <div class="grid-100">
    <h1 class="section-header">Badge Builder</h1>
    <div class="padded-content">
      <p>
        Badges can be awarded automatically when certain critera
        are met. This is done with data collected by
        <a href="https://github.com/fedora-infra/datanommer">datanommer</a>
        from the
        <a href="https://github.com/fedora-infra/fedora-messaging">fedora-messaging</a>
        bus. A text file written in
        <a href="https://en.wikipedia.org/wiki/Yaml">YAML</a> is used
        to define when and how a particular badge is awarded.
      </p>
      <p>
        This tool may be used by administrators to create badge files
        for new badges, or by regular users to create badge files for
        badges they want to submit to an administrator for
        consideration. This builder does not submit badges anywhere,
        it is simply a useful browser tool.
      </p>
    </div>
    <div class="clear"></div>
    <!-- COLUMN 1 (Left)-->
    <div class="grid-50">
      <h3>Badge Builder</h3>
      <form id="builder-form" method="POST">
        {{ form.hidden_tag() }}
        <table>
          <tr>
            <td>{{ form.badge_name.label }}</td>
            <td>{{ form.badge_name() }}</td>
            <td>{{ form.discussion.label }}</td>
            <td>{{ form.discussion() }}</td>
          </tr>
          <tr>
            <td>{{ form.badge_description.label }}</td>
            <td>{{ form.badge_description() }}</td>
            <td>{{ form.image.label }}</td>
            <td>{{ form.image() }}</td>
          </tr>
          <tr>
            <td>{{ form.badge_creator.label }}</td>
            <td>{{ form.badge_creator() }}</td>
            <td>{{ form.issuer.label }}</td>
            <td>{{ form.issuer() }}</td>
          </tr>
          <tr>
            <td>{{ form.trigger_topic.label }}</td>
            <td>{{ form.trigger_topic() }}</td>
            <td>{{ form.condition_operator.label }}</td>
            <td>{{ form.condition_operator() }} {{ form.condition_value(size=5) }}</td>
          </tr>
          <tr>
            <td>{{ form.previous.label }}</td>
            <td colspan="3">{{ form.previous(cols=40, rows=7) }}</td>
          </tr>
          <tr>
            <td colspan="4">{{ form.generate() }}</td>
          </tr>
        </table>
      </form>
    </div>
    <!-- COLUMN 2 (Right)-->
    <div class="grid-50">
  <!--- COMMENT OUT THE PREVIEW AREA FOR NOW
      <h3>Preview</h3>
  <p>Preview will work only if JavaScript is enabled.</p>
  <form id="preview-options-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <table>
      <tr><td>
          <label for="read-only">Preview is read only?
            <span class="sublabel">Any changes will be
              undone if any of the above fields are altered.</span>
          </label></td>
        <td><input type="checkbox" name="read-only" checked="checked"/></td></r>
</table>
</form>
<textarea id="preview"
          form="builder-form" readonly="readonly"
          rows="25" cols="80"></textarea>
</div>
</div>

END COMMENTING OUT PREVIEW AREA -->

  <h3>Output</h3>
  {% if badge_yaml_data %}
    {% set d = badge_yaml_data %}
    <textarea rows="30" cols="80">
%YAML 1.2
---

# This is some metadata about the badge.
name:           {{ d.badge_name }}
description:    {{ d.badge_description }}
creator:        {{ d.badge_creator }}

# This is a link to the discussion about adopting this as a for-real badge.
discussion:     {{ d.discussion }}

# A link to the image for the badge.
image_url:      {{ d.image }}

# The issuer.
issuer_id:      {{ d.issuer }}

# We'll perform our more costly check (defined below)
# only when we receive messages that match this trigger.
trigger:
  topic:        {{ d.trigger_topic }}

# Award the badge under these conditions:
condition:
  {{ d.condition_operator }}: {{ d.condition_value }}

# If the messages matches for the user for the first time, look into previous messages to get the count:
previous:
{{ d.previous | indent(2, true) }}

(This section is under construction.)
    </textarea>
  {% else %}
    <textarea rows="30" cols="80">Badge YAML will appear here.</textarea>
  {% endif %}

  <div class="clear spacer"></div>
</div>

{% endblock %}
