# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
alembic
anykeystore
arrow
BeautifulSoup
decorator
docutils
dogpile.cache
dogpile.core
Genshi
html5lib
isodate
keepalive
kitchen
Mako
MarkupSafe
moksha.common
moksha.wsgi
oauthlib>=0.6.2
Paste
PasteDeploy
PasteScript
Pygments
pyparsing
pyramid
pyramid-mako
pyramid-tm
python-dateutil
python-editor
python-openid
pytz
qrcode
rdflib==4.1.2
repoze.lru
requests
requests-oauthlib
simplejson
six
SPARQLWrapper
speaklater
SQLAlchemy
-e git://github.com/fedora-infra/tahrir.git@f34f90aedc8adff9ffbcb4d2dd405171a5d144ac#egg=tahrir-develop
tahrir-api
Tempita
transaction
translationstring>=0.4
tw2.core
tw2.dynforms
tw2.excanvas
tw2.forms
tw2.jit
tw2.jqplugins.flot
tw2.jqplugins.gritter
tw2.jqplugins.ui
tw2.jquery
tw2.sqla
Twisted
velruse
venusian>=1.0a3
WebError
WebHelpers
WebOb
zope.deprecation>=3.5.0
zope.interface>=3.6.0
zope.sqlalchemy
