BeautifulSoup==3.2.1
Chameleon==2.11
FormEncode==1.2.6
Genshi==0.7
Mako==0.8.1
MarkupSafe==0.18
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pillow==2.0.0
Pygments==1.6
SQLAlchemy==0.8.1
Tempita==0.5.1
WebError==0.10.3
WebOb==1.2.3
anykeystore==0.2
argparse==1.2.1
bpython==0.12
dateutils==0.6.6
decorator==3.4.0
docutils==0.10
dogpile.cache==0.5.0
dogpile.core==0.4.1
httplib2==0.8
kitchen==1.1.1
moksha.common==1.2.0
moksha.wsgi==1.2.1
oauth2==1.5.211
pyLibravatar==1.5
pyramid==1.4.2
pyramid-tm==0.7
python-dateutil==2.1
python-openid==2.2.5
pytz==2013b
q==2.4
qrcode==2.7
repoze.lru==0.6
repoze.what==1.0.9
repoze.who==1.0.19
repoze.who-testutil==1.0.1
requests==1.2.3
simplejson==3.3.0
six==1.3.0
speaklater==1.3
-e git+git@github.com:fedora-infra/tahrir@80f3793f645ab1209179f13e258df0cd5199fff2#egg=tahrir-dev
-e git+git@github.com:fedora-infra/tahrir-api@df64ba3626e791f19acddfeb17122c9f64c8669a#egg=tahrir_api-dev
transaction==1.4.1
translationstring==1.1
tw2.core==2.1.5
tw2.dynforms==2.0.1
tw2.excanvas==2.0.2
tw2.forms==2.1.4.1
tw2.jit==2.0.5
tw2.jqplugins.flot==2.0.1
tw2.jqplugins.gritter==2.0.3
tw2.jqplugins.ui==2.0.1
tw2.jquery==2.0.4
tw2.sqla==2.0.6
velruse==1.0.3
venusian==1.0a8
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
