# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box_url = "https://download.fedoraproject.org/pub/fedora/linux/releases/29/Cloud/x86_64/images/Fedora-Cloud-Base-Vagrant-29-1.2.x86_64.vagrant-libvirt.box"
  config.vm.box = "f29-cloud-libvirt"
  config.vm.box_download_checksum = "30a58db024a5203fea0fee8fffcbc1998b3e6de787dbc504dc5c511b97c84777"
  config.vm.box_download_checksum_type = "sha256"
  config.vm.network "forwarded_port", guest: 8000, host: 8000
  config.vm.synced_folder ".", "/vagrant", type: "sshfs"

  # To cache update packages (which is helpful if frequently doing vagrant destroy && vagrant up)
  # you can create a local directory and share it to the guest's DNF cache. Comment the line below
  # to not use a dnf cache directory
  config.vm.synced_folder ".dnf-cache", "/var/cache/dnf", type: "sshfs", owner: "root", group: "root", create: true, sshfs_opts_append: "-o idmap=user"

  config.vm.provision "ansible" do |ansible|
      ansible.playbook = "devel/ansible/playbook.yml"
  end

  config.vm.post_up_message = "Provisioning Complete."

end
