@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("/font/sans_rlar.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("/font/sans_bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  src: url("/font/sans_rlit.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src: url("/font/sans_bdit.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: normal;
  src: url("/font/mono_rlar.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: normal;
  src: url("/font/mono_bold.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-style: italic;
  src: url("/font/mono_rlit.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-style: italic;
  src: url("/font/mono_bdit.ttf");
}

@font-face {
  font-family: "Alte 1451 Standard";
  font-weight: 400;
  font-style: normal;
  src: url("/font/1451_rlar.otf");
}

@font-face {
  font-family: "Alte 1451 Standard";
  font-weight: 700;
  font-style: normal;
  src: url("/font/1451_bold.otf");
}

@font-face {
  font-family: "Alte 1451 Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("/font/cond_rlar.otf");
}

@font-face {
  font-family: "Alte 1451 Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("/font/cond_bold.otf");
}

.dataelem {
  font-family: "Alte 1451 Condensed", sans-serif !important;
}

.monoelem {
  font-family: "JetBrains Mono", monospace !important;
}

.bodyelem {
  font-family: "Inter", sans-serif;
}

.dropdown-menu {
  padding: 2px;
}

.logo {
  filter: invert(73%) sepia(10%) saturate(5496%) hue-rotate(176deg) brightness(86%) contrast(99%);
}

body {
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
}

/* Workaround to vertically center the mode icon on the navbar */
a.dropdown-toggle {
  display: flex;
  align-items: center;
}

.circle-border {
  border-radius: 10%;
}

/* Fix for Bootstrap ListGroup removing border-radius from last item */
.list-group-item:last-child {
  border-bottom-left-radius: var(--bs-list-group-border-radius) !important;
  border-bottom-right-radius: var(--bs-list-group-border-radius) !important;
}

.rarity-x-bg {
  background-color: #51a2da !important;
  color: #ffffff !important;
}

.rarity-s-bg {
  background-color: #c3a27f !important;
  color: #ffffff !important;
}

.rarity-a-bg {
  background-color: #ab94c0 !important;
  color: #ffffff !important;
}

.rarity-b-bg {
  background-color: #7ca0b4 !important;
  color: #ffffff !important;
}

.rarity-c-bg {
  background-color: #7f9a8c !important;
  color: #ffffff !important;
}

.rarity-d-bg {
  background-color: #90989e !important;
  color: #ffffff !important;
}

.rarity-x-text {
  color: #51a2da !important;
}

.rarity-s-text {
  color: #c3a27f !important;
}

.rarity-a-text {
  color: #ab94c0 !important;
}

.rarity-b-text {
  color: #7ca0b4 !important;
}

.rarity-c-text {
  color: #7f9a8c !important;
}

.rarity-d-text {
  color: #90989e !important;
}

.rarity-icon {
  height: 20px;
  width: 20px;
}
