img.badge {
    width: 64px;
    height: 64px;
}

body {
    background-color: white;
    color: black;
    font-size 12pt;
    height: auto;
    font-family: Cantarell, sans-serif;
    width: 100%;
}

a, a:visited, a:active, a:link {
    color: #3C6EB4;
    text-decoration: none;
}

.page {
    /* Without the below line, the page div is skewed
     * right. */
    margin-right: 15px;
}

.date {
    font-size: 0.6em;
    color: #9B9B9B; /* Dark gray */
    clear: both;
}

.navbar {
    list-style-type: none;
    background: #3158AF;
    color: white;
    width: 100%;
    padding: 5px;
    margin-left: -8px; /* There has to be a better way. */
    margin-top: 20px;
}

.navbar li {
    display: inline;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

table {
    border-spacing: 0px;
    width: 100%;
}

td {
    padding: 10px;
}

tr:nth-child(odd) { background: #E8EFF8; } /* "Clear day" */

tr:nth-child(even) { background: white; }

.logo-image {
    margin-right: 10px;
    margin-top: -10px;
}

#logo {
    color: #9B9B9B; /* Dark gray */
}

#sublogo {
    vertical-align: 35%;
    padding-left: 15px;
    font-size: 50%;
}

/* This is applied to the content of columns, but not to the header,
 * so that the content is a bit less-wide than the header.
 * (on suggestion of Jenn Kotler)
 */
.padded-content {
    padding-left: 10px;
    padding-right: 10px;
}

#header-link {
    text-decoration: none;
}

.header {
    color: #3158AF;
    height: 50px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.section-header {
    background: #3158AF;
    color: white;
    text-align: center;
    padding: 10px;
}

#footer {
    color: #9B9B9B; /* Dark gray */
    font-size: 10px;
    text-align: center;
} 

.collapsed-row {
    visibility: collapse;
}

.badge-name {
    width: 50%;
}

.badge-image {
    width: 15%;
    text-align: center;
}

.badge-assertions {
    width: 35%;
}

.badge-assertions ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.badge-assertions li {
    padding-left: 15px;
}

li.popup {
    width: 150px;
}

div.popup {
    position: absolute;
    float: left;
    border: 1px solid black;
    background-color: #1E1E1E;
    background-color: rgba(30,30,30,0.75);
}

div.gravatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 1px;
    background: white;
    
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);

    /* The next two lines are for IE.. silly IE */
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(
        color='#969696', Direction=135, Strength=3);
}

div.gravatar img {
    max-width: 100%;
    max-height: 100%;
}
