@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

img.badge {
    width: 64px;
    height: 64px;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1E1E1E;
}

.strong {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    color: #C1C1C1;
}

.subheader a {
    color: #D01A55;
}

.content a {
    color: #D01A55;
}

.subheader {
    padding: 20px;
    color: #C1C1C1;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    font-size: 90%;
}

.content {
    background-color: #C1C1C1;
    color: #1E1E1E !important;
    width: 700px;
    margin-right: auto;
    margin-left: auto;

    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

table {
    margin-right:auto;
    margin-left:auto;
}
td {
    padding: 5px;
}

li {
    width: 200px;
}
div.popup {
    position:absolute;
    float:left;
    border: 1px solid black;
    background-color: #1E1E1E;
    background-color: rgba(30,30,30,0.75);

}
div.gravatar {
        display: inline-block;
        width: 24px;
        height: 24px;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);

        /* The next two lines are for IE.. silly IE */
        zoom: 1;
        filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);

        padding: 2px;
        margin: 1px;
        background: white;
};
div.gravatar img {
        max-width: 100%;
        max-height: 100%;
}
