img.badge {
    width: 64px;
    height: 64px;
}

body {
    background-color: white;
    color: black;
    font-size 12pt;
    height: auto;
    font-family: Cantarell, sans-serif;
    width: 100%;
}

a, a:visited, a:active, a:link {
    color: #3C6EB4;
}

.page {
    /* Without the below line, the page div is skewed
     * right. */
    margin-right: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

#logo {
}

#sublogo {
    vertical-align: 35%;
    padding-left: 15px;
    font-size: 50%;
}

.strong {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    color: #3158AF;
    height: 50px;
    margin-top: -10px;
}

.section-header {
    background: #3158AF;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar {
    list-style-type: none;
    background: #3158AF;
    color: white;
    width: 100%;
    padding: 5px;
    margin-left: -8px; /* There has to be a better way. */
}

.navbar li {
    display: inline;
    padding: 5px;
}

table {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

td {
    padding: 5px;
    word-wrap: break-word;
}

#footer {
    font-size: 10px;
    text-align: center;
} 

.issuer-table {
    table-layout: fixed;
    width: 100%;
}

.collapsed-row {
    visibility: collapse;
}

.issuer-cell {
    vertical-align: text-top;
    padding-top: 25px;
}

.badge-name {
    width: 50%;
}

.badge-image {
    width: 15%;
    text-align: center;
}

.badge-assertions {
    width: 35%;
}

.badge-assertions ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.badge-assertions li {
    padding-left: 15px;
}

li.popup {
    width: 150px;
}

div.popup {
    position: absolute;
    float: left;
    border: 1px solid black;
    background-color: #1E1E1E;
    background-color: rgba(30,30,30,0.75);
}

div.gravatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 1px;
    background: white;
    
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);

    /* The next two lines are for IE.. silly IE */
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(
        color='#969696', Direction=135, Strength=3);
}

div.gravatar img {
    max-width: 100%;
    max-height: 100%;
}
