# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: MIT

VITE_API_URL=http://localhost:5000
VITE_OIDC_PROVIDER_URL=https://ipsilon.tinystage.test/idp/openidc
VITE_OIDC_CLIENT_ID={{ oidc_frontend_client_id }}
